.contanier{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}


.logo{
    font-size: 24px;
    color:lab(82.88% 4.9 20.1);
    text-decoration: none;


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #056b6b;
    z-index: 1000;
    width: 1200px;
    /* margin-left: 43px;
    margin-right: 20px; */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav a{
position: relative;
    text-decoration: none;
    color: lab(82.88% 4.9 20.1);
    margin-left: 70px;
    font-size: 24px;
}
nav a:hover{
    color: rgb(245, 180, 16);

}
.hero{
  min-height: 50vh; /* يغطي الشاشة */
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  text-align: center;
  padding-right: 25%;
  padding-bottom: 50%;
  color:  lab(82.88% 4.9 20.1);

  /* فقط Gradient */
  background: linear-gradient(to right, rgb(15, 110, 110) 30%, rgba(209, 179, 9, 0.534)),url(./images/unnamed.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: right;
}
.hero:hover{
    background: linear-gradient(to right, rgb(15, 110, 110) 30%, ),url(./images/unnamed.png);
  
}
    